*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mask img{
  
    -webkit-mask-image: url(./assets/download.png);
    mask-image: url(./assets/download.png);
    mask-repeat: no-repeat;
}