*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;
}
.container{
    position: relative;
    background-color: #29f400;
    background-size: cover;
    padding: 25px;
    border-radius: 28px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}

.logo{
display: flex;
align-items: center;
justify-content: space-between;
}

.logo img{
width: 150px;
height: 100px;
margin-right: 10px;
}
h5{
    font-size: 16px;
    color: black;
}

.chip{
   
    padding-top: 80px;
    }
    h6{
        color: black;
        font-size: 16px;
    }
    h5.number{
        margin-top: 4px;
        font-size: 15px;
        letter-spacing: 1px;

    }
    h5.name{
        margin-top: 20px;
    }
    .container .card-details{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        }