* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* body css */
body {
    overflow: hidden;
    color: white;
    animation: fadein 1s ease-in-out;
    background-color: black;
    background-attachment: fixed;
}

/* header */
header {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    animation: fadein 1s ease-in-out;
}

/* navbar */
.navbar {
    display: flex;
    background-color:white;
    color: blue;
    justify-content: space-around;
    align-items: center;
    animation: slideInFormTop 1s ease-in-out;
}

/* navbar image  Logo*/
.navbar img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 45px;
    left: 15px;
    animation: rotateIn 1s ease-in-out;
}

.navbar .center-nav a,
.social a {
    color: rgb(22, 23, 117);
     margin-right: 25px; /*margin two icone */
    font-size: 2rem;
    transition: fadeInUp 1s ease-in-out;
}

/* social icone setting */
.social {
    /* position: absolute; */
    top: 20px; 
    right: 20px; 
}
.navbar .center-nav a:first-child {
    color: rgb(255, 140, 0);
}

.navbar .center-nav a:hover,
.social a :hover {
    color: rgb(255, 140, 0);
    text-shadow: 0px 0px 30px rgb(255, 140, 0);
}


/* new style for underline */
.navbar .center-nav a {
    position: relative;
    text-decoration: none;
}

.navbar.center-nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 140, 0);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.navbar.center-nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/* text area */
.text {
    position: relative;
    top: 10rem;
    left: 11rem;
    letter-spacing: 1px;
    animation: fadeInUP 1s ease-in-out;
}

.text h1 {
    font-weight: bold;
    font-size: 4rem;
    font-family: sans-serif;
    margin-bottom: 10PX;
    animation: fadeInUP 1s ease-in-out;
}

/* button area */
.btn {
    color: white;
    border: 2px solid;
    position: relative;
    top: 3rem;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 6px;
    transition: all 0.5s ease;
    margin-right: 10px;
    animation: fadeInUP 1s ease-in-out 0.5s backwards;
}

/* text hover efect */
.text .btn:hover {
    background-color: rgb(255, 140, 0);
    box-shadow: 0 0 10px 2px rgb(255, 140, 0);
}

.text p {
    width: 46%;
    animation: fadeInUp 1s ease-in-out 1s backwards;
}

/* burger css start */
.burger {
    position: fixed;
    bottom: 20px;
    left: 70%;
    top: 70%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 20px;
    animation: slideInFornBottom 1s ease-in-out 1.5s backwards;
}

/* burger image css */
.burger img {
    width: 100px;
    height: 100px;
    margin: 0 20px;
    object-fit: cover;
    border: 2px solid white;
    animation: fadeInUp 1s ease-in-out 2s backwards;
}

/* burger images hover efect */
.burger img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgb(255, 255, 255, 0.8);
}

.burger-toggle img {
    position: absolute;
    width: 38%;
    height: 74%;
    right: 47px;
    top: 1rem; /* fly and 5 burgur top bottom space */
    filter: drop-shadow(63px 90px 392px);
    animation: fadeInUp 1s ease-in-out 2.5s backwards;

}

.burger,
.burger-toggle {
    display: flex;
}

.burger-toggle img {
    display: none;
}

.burger-toggle img.active {
    display: block;
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUP {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}