
a:first-child {
    background-color: yellow;
    color: red;
    /* 16 */
  }

a:nth-last-child(2){
    background-color: yellow;
    color: red;
    /* 19 */
}

p:nth-last-child(1) {
    color:red;
    background-color: yellow;
    /* 68 72  */
}
h1:only-child{
    color:red;
    background-color: yellow;
    /* 46 */
}

h1:nth-last-of-type(7){
    color:red;
    background-color:yellow;
    /* 63 */
}

h1:nth-last-of-type(14){
    color:red;
    background-color:yellow;
    /* 25 */
}


p:last-of-type{
    color:red;
    background-color:yellow;
    /* 68 72 */
}
h1:nth-last-child(4){
    color:red;
    background-color:yellow;
    /* 57 */
}