body {
    background-color: rgb(255, 231, 19);
}

.center {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    box-shadow: 0px 0px 50px 3px #000; 
}

.center span {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: ani 3s infinite;
}

.center span:nth-child(1) {
    background-color: rgb(81, 42, 188);
    left: 10%;
    top: 10%;
}

.center span:nth-child(2) {
    background-color: rgb(193, 79, 79);
    left: 10%;
    top: 10%;
}

.center span:nth-child(3) {
    width: 180px;
    height: 180px;
    background-color: rgb(14, 215, 233);
    left: 30%;
    top: 30%;
}

.center span:nth-child(4) {
    background-color: rgb(68, 189, 12);
    left: 18%;
    top: 18%;
}

.center span:nth-child(5) {
    background-color: rgb(147, 3, 15);
    left: 30%;
    top: 30%;
}

.center span:nth-child(6) {
    background-color: rgb(213, 139, 27);
    left: 30%;
    top: 30%;
}

.center span:nth-child(7) {
    background-color: rgb(173, 189, 255);
    left: 30%;
    top: 30%;
}


@keyframes ani {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(95deg);
    }
    50% {
        transform: rotate(360deg);
    }
    70% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
