*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* static start*/
.static{
    height: 105px;
    width: 420px;
    border: 2px solid black;
    margin: 50px;
   

}
.boxs1{
display: flex;
justify-content: space-around;
}
.box1{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 20px;
    position: static;
}
.box2{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: green;
    font-size: 20px;
    position: static;
}
.box3{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 20px;
    position: static;
}
.box4{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 20px;
    position: static;
}
/* static end */



/* relative start*/

.relative{
    height: 105px;
    width: 420px;
    border: 2px solid black;
    margin: 50px;
    

}
.boxs2{
display: flex;
justify-content: space-around;
}
.box5{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 20px;
}
.box6{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: green;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 10px;



}
.box7{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 20px;
}
.box8{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 20px;
}
/* relative end */


/* absolute start */

.absolute{
    height: 105px;
    width: 420px;
    border: 2px solid black;
    margin: 50px;
    position: relative;
    

}
.boxs3{
display: flex;
justify-content: space-around;
}
.box9{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 20px;
}
.box10{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: green;
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 40px;

}
.box11{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 20px;
}
.box12{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 20px;
}
/* absolute end */