*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section{
    display: flex;
}
.box1{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 5px;
    opacity: 0;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 5px;
    opacity: 0.1;
}
.box3{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 5px;
    opacity: 0.2;
}
.box4{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 5px;
    opacity: 0.3;
}
.box5{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 5px;
    opacity: 0.4;
}
.box6{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 5px;
    opacity: 0.5;
}
.box7{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 5px;
    opacity: 0.6;
}
.box8{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 5px;
    opacity: 0.7;
}
.box9{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 5px;
    opacity: 0.8;
}
.box10{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 5px;
    opacity: 0.9;
}
.box11{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 5px;
    opacity: 1;
}

/* Icons */
.icon {
    display: flex;
    font-size: 30px;
    margin: 30px 30px;
    color: rgb(0, 127, 30);
    justify-content: center;
    align-items: center;
}

.font{
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: blue;
}