.pagination {
    height: 40px;
    width: 450px;
    display: flex;
    list-style: none;
    padding: 0;
    background-color: antiquewhite;
    margin: 100px;

}

.pagination li {
    margin: 0 5px;
    display: flex;

}

.pagination a {
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
}


.pagination a.disabled {
  background-color: rgb(255, 122, 6);
}
.pagination a.active {
    background-color: rgb(6, 93, 255);
    color: #ddd;
  }